*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
}

.container{
    width:95%;
    max-width:900px;
    margin:30px auto;
}

h1{
    text-align:center;
    margin-bottom:15px;
    color:#00e5ff;
    font-size:34px;
}

.subtitle{
    text-align:center;
    color:#bbb;
    margin-bottom:25px;
}

.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    margin-bottom:30px;
}

.btn{
    background:#00bcd4;
    color:#fff;
    text-decoration:none;
    padding:14px 20px;
    border-radius:10px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#0097a7;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    margin-bottom:25px;
    box-shadow:0 0 15px rgba(0,0,0,.4);
}

input,
select,
textarea{
    width:100%;
    padding:14px;
    margin:12px 0;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    background:#00c4e8;
    color:#fff;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
    margin-top:18px;
}

button:hover{
    background:#0097a7;
}

img{
    max-width:250px;
    display:block;
    margin:15px auto;
    border-radius:10px;
}

.player{
    background:#334155;
    padding:18px;
    border-radius:14px;
    margin-top:20px;
    box-shadow:0 0 10px rgba(0,0,0,.3);
}

.player p{
    margin:8px 0;
    font-size:18px;
    line-height:1.6;
}

/* Button Spacing */

.player button:first-of-type{
    margin-top:20px;
    margin-bottom:45px;
}

.player button:last-of-type{
    margin-top:45px;
}

/* Mobile */

@media(max-width:600px){

.container{
    width:96%;
}

.menu{
    flex-direction:column;
}

.btn{
    text-align:center;
}

h1{
    font-size:28px;
}

.player{
    padding:15px;
}

.player p{
    font-size:16px;
}

button{
    font-size:17px;
    padding:14px;
}

}
